<form [formGroup]="searchRepoForm" class="mb-4 w-full">
  <input
    type="text"
    class="w-full border border-gray-300 p-2 focus:outline-none"
    placeholder="Search Repo..."
    formControlName="query"
  />
</form>

<div *ngIf="fetchingRepos">
  <h3 class="w-full text-center text-lg sm:text-xl">Loading Repos...</h3>
</div>

<div *ngIf="userRepos && userRepos.total_count > 0">
  <div class="mb-4 flex flex-col gap-4 md:grid md:grid-cols-2">
    <app-user-repo
      *ngFor="let repo of userRepos.items"
      [repo]="repo"
    ></app-user-repo>
  </div>

  <app-pagination
    (saveCustomizedChanges)="handleCustomizedChanges($event)"
    (goToPage)="handlePageChanged($event)"
    [totalData]="userRepos.total_count"
    [maxPages]="maxPages"
    [maxPerPage]="maxPerPage"
    [currentPage]="currentPage"
  ></app-pagination>
</div>

<div *ngIf="!userRepos?.total_count && !fetchingRepos">
  <h3 class="w-full text-center text-lg sm:text-xl">Couldn't find Repos :(</h3>
</div>

<button
  (click)="scrollToTop()"
  class="fixed bottom-20 right-5 hidden h-[40px] w-[40px] items-center justify-center rounded-[50%] bg-green-600 text-xl text-white sm:flex"
>
  &uarr;
</button>

<button
  (click)="scrollToBottom()"
  class="fixed bottom-8 right-5 hidden h-[40px] w-[40px] items-center justify-center rounded-[50%] bg-green-600 text-xl text-white sm:flex"
>
  &darr;
</button>
